[submodule "graphics/extern/glfw"]
	path = graphics/extern/glfw
	url = https://github.com/ebanjo-2/glfw.git
[submodule "tools/extern/glm"]
	path = tools/extern/glm
	url = https://github.com/ebanjo-2/glm.git
[submodule "tools/extern/stb"]
	path = tools/extern/stb
	url = https://github.com/ebanjo-2/stb.git
[submodule "graphics/extern/imgui"]
	path = graphics/extern/imgui
	url = https://github.com/ocornut/imgui.git
